In [213]:
import pandas as pd
# we can see all of the columns
pd.set_option('max_columns', None)
import os

import re

In [214]:
# first load in the NHS EXCEL Dataset, this might be harder
df = pd.read_excel('hospital_sets/hosp-epis-stat-admi-prov-leve-2008-09-tab.xls', sheet_name='Table E_0809')

In [215]:
df.shape

(479, 21)

In [62]:
need_to_see = pd.read_excel('hospital_sets/hosp-epis-stat-admi-prov-leve-2010-11-tab.xls', sheet_name='Table E_1011')

In [63]:
need_to_see.head().append(need_to_see.tail())

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Table E: Finished admission episodes by primar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525,NaN,Responsible statistician:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,NaN,"Chris Dew, HES/SUS Analysis (Service) Section ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,NaN,Contact via enquiries@ic.nhs.uk or 0845 300 6016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
attempt_2 = pd.read_csv('hospital_sets/csv/hosp-epis-stat-admi-prov-leve-2019-20-tab.csv', skiprows=6).rename(columns={'Unnamed: 0':'provider_code'})

# Load in the nhs Admission dataset

In [97]:
attempt_2.shape
print('hosp-epis-stat-admi-prov-leve-2019-20-tab.csv'[32:37].replace('-', ''))
# rename(columns='Unnamed: 0':'region_or_provider_code')

1920

In [233]:
# Horrifically hacky - iterate through the CSV files and load them in, os.walk is much better than os.listdir

directory= 'hospital_sets/csv'

df_lst = []

# new - with csv files 
for filename in os.listdir(directory):
    if filename.endswith('csv'):
        date_range =filename[32:37].replace('-', '')

        if date_range in ['0809','0910']:
            # changed encoding -- stackoverflow to solve unicodedecodeerror, https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python
            tmp_df = pd.read_csv(os.path.join(directory, filename), encoding='ISO-8859-1')
            
            tmp_df.columns = tmp_df.columns.str.strip().str.replace('\n', '')
            tmp_df = tmp_df.rename(columns=lambda x: re.sub(r'\s\W\w\d\d-\w\d\d\W$', '' ,x))
            tmp_df = tmp_df.rename(columns=lambda x: re.sub(r'\W\w\d\d-\w\d\d\W$', '' ,x))



            
            
            tmp_df.rename(columns={
                                  ' SHA/Provider':'Commissioning Region/Provider',
                                  'SHA/Provider':'Commissioning Region/Provider',
                                  'Area Team/Provider':'Commissioning Region/Provider',
                                  }, inplace=True)
            
            
            print(list(tmp_df.columns))

            
            tmp_df = tmp_df.loc[:, :'Factors influencing health status and contact with health services']
            
            tmp_df['Date Period'] = date_range

            print('checks\n')
            print('THE YEAR TO CHECK IS', filename[32:37].replace('-', ''))
            print(tmp_df.shape)
            print(list(tmp_df.columns))
            print('\n')

            df_lst.append(tmp_df)
        elif date_range == '1011':
            # changed encoding -- stackoverflow to solve unicodedecodeerror, https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python
            tmp_df = pd.read_csv(os.path.join(directory, filename), skiprows=10, encoding='ISO-8859-1')
            
            tmp_df.columns = tmp_df.columns.str.strip()
            tmp_df.columns = tmp_df.columns.str.replace('\n', '')
            tmp_df = tmp_df.rename(columns=lambda x: re.sub(r'\s\W\w\d\d-\w\d\d\W$', '' ,x))
            tmp_df = tmp_df.rename(columns=lambda x: re.sub(r'\W\w\d\d-\w\d\d\W$', '' ,x))





            
            tmp_df.rename(columns={
#                                   'Factors influencing health status and contact with health services':'Factors influencing health status and contact with health services(Z00-Z99)',
                                  ' SHA/Provider':'Commissioning Region/Provider',
                                  'SHA/Provider':'Commissioning Region/Provider',
                                  'Area Team/Provider':'Commissioning Region/Provider',
#                                   'Factors influencing health status and contact with health services \n(Z00-Z99)':'Factors influencing health status and contact with health services(Z00-Z99)',
                                  }, inplace=True)
            
            print(list(tmp_df.columns))
        
            tmp_df = tmp_df.loc[:, :'Factors influencing health status and contact with health services']
            
            tmp_df['Date Period'] = date_range

            
            print('checks\n')
            print('THE YEAR TO CHECK IS', filename[32:37].replace('-', ''))
            print(tmp_df.shape)
            print('\n')

            df_lst.append(tmp_df)
        else:
            # changed encoding -- stackoverflow to solve unicodedecodeerror, https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python
            tmp_df = pd.read_csv(os.path.join(directory, filename), skiprows=6, encoding='ISO-8859-1')
            
            tmp_df.columns = tmp_df.columns.str.strip()
            tmp_df.columns = tmp_df.columns.str.replace('\n', '')
#             tmp_df.columns = tmp_df.columns.str.replace(r'\s\W\w\d\d-\w\d\d\W$', r'\W\w\d\d-\w\d\d\W$')
            tmp_df = tmp_df.rename(columns=lambda x: re.sub(r'\s\W\w\d\d-\w\d\d\W$', '' ,x))
            tmp_df = tmp_df.rename(columns=lambda x: re.sub(r'\W\w\d\d-\w\d\d\W$', '' ,x))


            
            tmp_df.rename(columns={
                                  ' SHA/Provider':'Commissioning Region/Provider',
                                  'SHA/Provider':'Commissioning Region/Provider',
                                  'Area Team/Provider':'Commissioning Region/Provider',
                                  }, inplace=True)
            
            print(list(tmp_df.columns))

            tmp_df = tmp_df.loc[:, :'Factors influencing health status and contact with health services']
            tmp_df['Date Period'] = date_range

            print('checks\n')
            print('THE YEAR TO CHECK IS', filename[32:37].replace('-', ''))

            print(tmp_df.shape)
            print(list(tmp_df.columns))
            print('\n')

            df_lst.append(tmp_df)

['Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Factors influencing health status and contact with health services', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130', 'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134', 'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138', 'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142', 'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146', 'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150', 'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154', 'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158', 'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166', 'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170', 'Unnamed: 171', 'Unnamed: 172', 'Unnamed: 173', 'Unnamed: 174', 'Unnamed: 175', 'Unnamed: 176', 'Unnamed: 177', 'Unnamed: 178', 'Unnamed: 179', 'Unnamed: 180', 'Unnamed: 181', 'Unnamed: 182', 'Unnamed: 183', 'Unnamed: 184', 'Unnamed: 185', 'Unnamed: 186', 'Unnamed: 187', 'Unnamed: 188', 'Unnamed: 189', 'Unnamed: 190', 'Unnamed: 191']
checks

THE YEAR TO CHECK IS 0809
(479, 22)
['Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Factors influencing health status and contact with health services', 'Date Period']


['Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Factors influencing health status and contact with health services', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130', 'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134', 'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138', 'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142', 'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146', 'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150', 'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154', 'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158', 'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166']
checks

THE YEAR TO CHECK IS 0910
(830, 22)
['Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Factors influencing health status and contact with health services', 'Date Period']


['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Factors influencing health status and contact with health services', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80']
checks

THE YEAR TO CHECK IS 1011
(517, 23)


['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Factors influencing health status and contact with health services', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130', 'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134', 'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138', 'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142', 'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146', 'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150', 'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154', 'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158', 'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166', 'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170', 'Unnamed: 171', 'Unnamed: 172', 'Unnamed: 173', 'Unnamed: 174', 'Unnamed: 175', 'Unnamed: 176', 'Unnamed: 177', 'Unnamed: 178', 'Unnamed: 179', 'Unnamed: 180', 'Unnamed: 181', 'Unnamed: 182', 'Unnamed: 183', 'Unnamed: 184', 'Unnamed: 185', 'Unnamed: 186', 'Unnamed: 187', 'Unnamed: 188', 'Unnamed: 189']
checks

THE YEAR TO CHECK IS 1112
(525, 23)
['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Factors influencing health status and contact with health services', 'Date Period']


['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Factors influencing health status and contact with health services', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130', 'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134', 'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138', 'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142', 'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146', 'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150', 'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154', 'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158', 'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166', 'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170', 'Unnamed: 171', 'Unnamed: 172', 'Unnamed: 173', 'Unnamed: 174', 'Unnamed: 175', 'Unnamed: 176', 'Unnamed: 177', 'Unnamed: 178', 'Unnamed: 179', 'Unnamed: 180', 'Unnamed: 181', 'Unnamed: 182', 'Unnamed: 183', 'Unnamed: 184', 'Unnamed: 185', 'Unnamed: 186', 'Unnamed: 187', 'Unnamed: 188', 'Unnamed: 189', 'Unnamed: 190', 'Unnamed: 191', 'Unnamed: 192']
checks

THE YEAR TO CHECK IS 1213
(506, 23)

['Provider Code', 'ONS Geography Code', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115', 'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119', 'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123', 'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127', 'Unnamed: 128', 'Unnamed: 129', 'Unnamed: 130', 'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134', 'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138', 'Unnamed: 139', 'Unnamed: 140', 'Unnamed: 141', 'Unnamed: 142', 'Unnamed: 143', 'Unnamed: 144', 'Unnamed: 145', 'Unnamed: 146', 'Unnamed: 147', 'Unnamed: 148', 'Unnamed: 149', 'Unnamed: 150', 'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154', 'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158', 'Unnamed: 159', 'Unnamed: 160', 'Unnamed: 161', 'Unnamed: 162', 'Unnamed: 163', 'Unnamed: 164', 'Unnamed: 165', 'Unnamed: 166', 'Unnamed: 167', 'Unnamed: 168', 'Unnamed: 169', 'Unnamed: 170', 'Unnamed: 171', 'Unnamed: 172', 'Unnamed: 173', 'Unnamed: 174', 'Unnamed: 175', 'Unnamed: 176', 'Unnamed: 177', 'Unnamed: 178', 'Unnamed: 179', 'Unnamed: 180', 'Unnamed: 181', 'Unnamed: 182', 'Unnamed: 183', 'Unnamed: 184', 'Unnamed: 185', 'Unnamed: 186', 'Unnamed: 187', 'Unnamed: 188', 'Unnamed: 189', 'Unnamed: 190', 'Unnamed: 191', 'Unnamed: 192', 'Unnamed: 193', 'Unnamed: 194']
checks

THE YEAR TO CHECK IS 1415
(495, 25)
['Provider Code', 'ONS Geography Code', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Date Period']


['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services']
checks

THE YEAR TO CHECK IS 1516
(467, 24)
['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Date Period']


['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Unnamed: 23']
checks

THE YEAR TO CHECK IS 1617
(476, 24)
['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Date Period']


['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Unnamed: 23']
checks

THE YEAR TO CHECK IS 1718
(504, 24)
['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Date Period']


['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Unnamed: 23']
checks

THE YEAR TO CHECK IS 1819
(492, 24)
['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Date Period']


['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Unnamed: 23']
checks

THE YEAR TO CHECK IS 1920
(507, 24)
['Unnamed: 0', 'Commissioning Region/Provider', 'Certain infectious and parasitic diseases', 'Neoplasms', 'Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism', 'Endocrine, nutritional and metabolic diseases', 'Mental and behavioural disorders', 'Diseases of the nervous system', 'Diseases of the eye and adnexa', 'Diseases of the ear and mastoid process', 'Diseases of the circulatory system', 'Diseases of the respiratory system', 'Diseases of the digestive system', 'Diseases of the skin and subcutaneous tissue', 'Diseases of the musculoskeletal system and connective tissue', 'Diseases of the genitourinary system', 'Pregnancy, childbirth and the puerperium', 'Certain conditions originating in the perinatal period', 'Congenital malformations, deformations and chromosomal abnormalities', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified', 'Injury, poisoning and certain other consequences of external causes', 'Codes for special purposes', 'Factors influencing health status and contact with health services', 'Date Period']

1516

In [227]:
# tmp_df = tmp_df.rename(columns={'Factors influencing health status and contact with health services':'Factors influencing health status and contact with health services (Z00-Z99)'})

# len(df_lst)
# for df in df_lst:
#     print(df.shape)

df_lst = []
print(df_lst)

[]

In [234]:
nhs_hospital_adm2 = pd.concat(df_lst, axis=0, ignore_index=True)

In [235]:
nhs_hospital_adm2.shape

(6301, 26)

In [236]:
nhs_hospital_adm2.head(50)

,Commissioning Region/Provider,Certain infectious and parasitic diseases,Neoplasms,Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism,"Endocrine, nutritional and metabolic diseases",Mental and behavioural disorders,Diseases of the nervous system,Diseases of the eye and adnexa,Diseases of the ear and mastoid process,Diseases of the circulatory system,Diseases of the respiratory system,Diseases of the digestive system,Diseases of the skin and subcutaneous tissue,Diseases of the musculoskeletal system and connective tissue,Diseases of the genitourinary system,"Pregnancy, childbirth and the puerperium",Certain conditions originating in the perinatal period,"Congenital malformations, deformations and chromosomal abnormalities","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified","Injury, poisoning and certain other consequences of external causes",Factors influencing health status and contact with health services,Date Period,Unnamed: 0,Codes for special purposes,Provider Code,ONS Geography Code
0,ENGLAND,"172,683","1,524,205","235,309","201,988","164,982","294,641","549,545","89,407","926,461","757,003","1,589,433","289,435","1,077,760","880,349","1,349,505","199,543","110,997","1,698,401","914,260","1,126,785",0809,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0809,NaN,NaN,NaN,NaN
2,Q33 East Midlands Strategic Health Authority,"12,060","135,824","17,969","16,033","11,855","27,063","44,247","6,646","63,339","54,101","107,213","20,383","82,496","63,587","106,872","13,421","6,747","129,310","66,542","89,982",0809,NaN,NaN,NaN,NaN
3,5N6 Derbyshire County PCT,53,535,78,63,284,387,794,*,655,402,594,394,"1,701",620,-,-,*,"1,185",760,"1,577",0809,NaN,NaN,NaN,NaN
4,5N8 Nottinghamshire County Teaching PCT,19,301,*,32,24,216,-,-,117,104,36,46,103,75,-,-,*,242,315,49,0809,NaN,NaN,NaN,NaN
5,5PA Leicestershire County and Rutland PCT,69,"1,017",97,68,58,417,"2,021",15,615,216,"1,920",629,"1,124","1,062",254,-,18,"1,102",956,687,0809,NaN,NaN,NaN,NaN
6,5PC Leicester City PCT,-,*,-,*,-,*,-,-,*,11,*,*,7,*,-,-,-,297,9,-,0809,NaN,NaN,NaN,NaN
7,5PD Northamptonshire Teaching PCT,*,254,*,*,*,281,-,*,72,33,8,*,22,*,-,-,*,674,62,34,0809,NaN,NaN,NaN,NaN
8,"NT213 Nuffield Health, Derby Hospital",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,*,-,-,0809,NaN,NaN,NaN,NaN
9,"NT226 Nuffield Health, Leicester Hospital",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,0809,NaN,NaN,NaN,NaN
10,NT322 Spire Leicester Hospital,-,*,*,-,-,23,185,-,29,*,93,13,209,56,-,-,-,753,-,8,0809,NaN,NaN,NaN,NaN
11,NT502 Barlborough NHS Treatment Centre,-,*,-,*,-,166,-,-,-,-,-,21,"3,516",-,-,*,*,61,19,21,0809,NaN,NaN,NaN,NaN
12,NTA04 Nottingham NHS Treatment Centre(Nations...,29,"1,852",253,7,*,471,*,13,436,*,"1,625",461,"1,309",413,495,-,55,"2,532",104,213,0809,NaN,NaN,NaN,NaN
13,NVC23 Woodland Hospital,-,*,-,-,-,-,*,*,*,29,*,-,590,34,-,-,*,353,-,*,0809,NaN,NaN,NaN,NaN
14,NVC26 Gainsborough NHS Treatment Centre,-,7,*,-,-,47,212,-,*,-,53,9,145,30,-,-,*,74,*,38,0809,NaN,NaN,NaN,NaN
15,NVC27 Boston NHS Treatment Centre,-,67,*,-,*,*,626,-,23,-,260,21,14,60,-,-,7,76,-,83,0809,NaN,NaN,NaN,NaN
16,NVC40 Nottingham Woodthorpe Hospital,-,6,-,-,-,-,-,-,-,-,160,-,814,36,-,-,-,81,*,*,0809,NaN,NaN,NaN,NaN
17,RFS Chesterfield Royal Hospital NHS Foundatio...,"1,046","5,778","1,449",948,399,"1,227","3,204",380,"3,956","4,219","7,766","1,453","5,439","4,929","6,104",704,253,"8,191","4,596","5,629",0809,NaN,NaN,NaN,NaN
18,RHA Nottinghamshire Healthcare NHS Trust,*,-,-,-,"1,180",58,-,-,*,-,-,-,-,-,-,-,*,"1,849",-,144,0809,NaN,NaN,NaN,NaN
19,RK5 Sherwood Forest Hospitals NHS Foundation ...,"1,061","5,953",896,839,393,"1,766","3,191",489,"5,233","4,595","7,927","2,119","6,629","6,194","9,144",*,*,"9,506","4,575","7,310",0809,NaN,NaN,NaN,NaN
20,RNQ Kettering General Hospital NHS Foundation...,847,"5,278","1,001","1,200",394,"1,040","2,594",439,"4,323","4,287","9,208","1,067","4,913","4,447","6,637",693,260,"9,610","4,412","8,430",0809,NaN,NaN,NaN,NaN
21,RNS Northampton General Hospital NHS Trust,"1,120","14,025",761,"1,456",267,"1,624","4,291",549,"4,038","4,188","9,442","1,642","6,786","7,038","10,015","3,072",579,"8,368","5,548","5,823",0809,NaN,NaN,NaN,NaN
22,RP1 Northamptonshire Healthcare NHS Trust,-,-,-,-,514,40,-,-,*,-,-,-,-,-,-,-,-,"1,034",-,*,0809,NaN,NaN,NaN,NaN
23,RP7 Lincolnshire Partnership NHS Foundation T...,*,-,-,-,"1,353",172,-,-,-,-,-,-,-,-,-,-,-,*,*,*,0809,NaN,NaN,NaN,NaN
24,RT5 Leicestershire Partnership NHS Trust,-,-,-,-,"2,370",16,-,-,-,-,-,-,-,-,-,-,-,774,-,18,0809,NaN,NaN,NaN,NaN
25,RTG Derby Hospitals NHS Foundation Trust,"1,159","19,807","2,289","4,257",681,"3,224","7,237",941,"6,372","6,464","14,501","3,478","14,350","7,137","14,764","1,797",715,"15,949","9,131","10,478",0809,NaN,NaN,NaN,NaN
26,RWD United Lincolnshire Hospitals NHS Trust,"1,646","22,228","2,809","1,451",353,"2,733","5,748",883,"9,970","7,427","16,636","2,179","9,994","9,702","12,619","1,356",510,"16,712","9,195","10,927",0809,NaN,NaN,NaN,NaN
27,RWE University Hospitals of Leicester NHS Trust,"2,960","28,784","3,953","2,908","1,281","6,517","6,399","1,689","15,635","12,894","21,425","3,352","11,903","12,753","26,134","2,705","2,168","27,013","15,058","23,459",0809,NaN,NaN,NaN,NaN
28,RX1 Nottingham University Hospitals NHS Trust,"2,043","29,921","4,372","2,799",731,"6,554","7,674","1,212","11,853","9,226","15,504","3,488","12,928","8,979","20,706","2,742","2,007","22,826","11,774","14,931",0809,NaN,NaN,NaN,NaN
29,RXM Derbyshire Mental Health Services NHS Trust,-,*,-,-,"1,568",76,-,-,*,-,-,-,-,-,-,-,-,42,*,101,0809,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0809,NaN,NaN,NaN,NaN
31,Q35 East of England Strategic Health Authority,"13,156","168,242","21,871","17,724","13,071","28,855","54,404","8,111","93,329","68,769","153,021","28,733","106,267","83,246","128,477","15,769","8,635","146,585","80,367","116,812",0809,NaN,NaN,NaN,NaN
32,5P3 East and North Hertfordshire PCT,11,14,*,13,*,34,*,-,156,42,16,15,*,34,-,-,*,244,137,495,0809,NaN,NaN,NaN,NaN
33,5P4 West Hertfordshire PCT,6,22,*,9,*,13,*,*,51,38,19,8,33,29,-,-,-,"2,880",192,35,0809,NaN,NaN,NaN,NaN
34,5PP Cambridgeshire PCT,278,251,39,46,16,57,14,19,58,630,427,58,78,83,-,456,34,831,293,256,0809,NaN,NaN,NaN,NaN
35,5PQ Norfolk PCT,23,572,60,38,130,163,*,*,485,147,111,153,"1,145",90,-,-,30,240,666,991,0809,NaN,NaN,NaN,NaN
36,5PV West Essex PCT,*,42,22,15,10,33,*,*,105,76,45,21,29,55,-,-,-,505,125,7,0809,NaN,NaN,NaN,NaN
37,5PX Mid Essex PCT,-,27,*,6,*,11,-,-,70,16,*,14,34,25,-,-,-,114,58,*,0809,NaN,NaN,NaN,NaN
38,5PY South West Essex PCT,11,32,*,18,8,25,-,*,83,97,40,43,65,89,-,-,-,547,179,9,0809,NaN,NaN,NaN,NaN
39,"NT204 Nuffield Health, Brentwood Hospital",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,0809,NaN,NaN,NaN,NaN
40,"NT222 Nuffield Health, Ipswich Hospital",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,0809,NaN,NaN,NaN,NaN
41,NT313 Spire Wellesley Hospital,-,25,-,21,*,16,113,18,32,105,271,14,542,69,-,-,*,788,-,10,0809,NaN,NaN,NaN,NaN
42,NT315 Spire Bushey Hospital,-,49,-,*,-,29,-,-,35,*,97,10,729,80,-,-,*,154,-,10,0809,NaN,NaN,NaN,NaN
43,NT316 Spire Harpenden Hospital,-,-,-,-,-,-,59,*,-,34,34,*,33,60,-,-,-,210,-,-,0809,NaN,NaN,NaN,NaN
44,NT317 Spire Cambridge Lea Hospital,-,-,-,-,-,*,-,-,-,-,35,*,119,-,-,-,-,42,-,*,0809,NaN,NaN,NaN,NaN
45,NT318 Spire Norwich Hospital,-,-,-,-,-,*,-,-,-,*,-,-,685,-,-,-,*,65,21,*,0809,NaN,NaN,NaN,NaN
46,NT319 Spire Hartswood Hospital,*,*,-,-,-,38,75,56,-,140,82,21,450,66,-,-,-,190,-,32,0809,NaN,NaN,NaN,NaN
47,NT432 BMI - The Sandringham Hospital,-,-,-,-,-,-,-,-,-,-,-,-,*,-,-,-,-,-,*,-,0809,NaN,NaN,NaN,NaN
48,NVC06 Fitzwilliam Hospital,*,55,-,-,-,*,-,*,*,56,80,*,"1,326",29,-,-,*,51,6,*,0809,NaN,NaN,NaN,NaN
49,NVC13 Oaks Hospital,-,*,-,*,-,*,121,*,18,54,242,*,419,267,-,-,*,23,*,16,0809,NaN,NaN,NaN,NaN

In [237]:
if not os.path.exists('hospital_sets/csv/concat'):
    os.makedirs('hospital_sets/csv/concat')
    
nhs_hospital_adm2.to_csv('hospital_sets/csv/concat/nhs_hospital_admissions_2008_2020.CSV', encoding='utf-8')

# Load in the nhs mortality dataset

In [210]:
mortality_directory = 'mortality_hospital'

df_lst = []

# cooler way to get all file names from folder
# https://stackoverflow.com/questions/19932130/iterate-through-folders-then-subfolders-and-print-filenames-with-path-to-text-f
def list_files(dir):
    r = []
    for root, dirs, files in os.walk(dir):
            for name in files:
                    if 'SHMI diagnosis group breakdown' in name and '.csv' in name:
                        r.append(os.path.join(root, name))
    return r

def create_list_df(lst):
    dff_lst = []
    # iterate through, create df and apply tolist
    for filename in lst:
        tm_df = pd.read_csv(filename)
        
        date_p = filename[36:47]
        
        tm_df['Date Period'] = date_p
        
        tm_df = tm_df.rename(columns={
            'DIAGNOSIS_GROUP_NUMBER': 'DIAGNOSIS GROUP',
            'PROVIDER': 'PROVIDER_CODE',
            'DENOMINATOR': 'SPELLS',
            'DIAGNOSIS_GROUP': 'DIAGNOSIS GROUP'
                                     })
        dff_lst.append(tm_df)
    return dff_lst

In [211]:
# get the list
list_of_csv = list_files('mortality_hospital')
# print(list_of_csv[0])
# print('\n')
# for item in list_of_csv:
#     print(item[36:47])


# get list of dfs
dfss = create_list_df(list_of_csv)
print(len(dfss))

# concat the dataframes
df_concc = pd.concat(dfss, axis=0, ignore_index=True)
df_concc.head()

29

,INDICATOR_CODE,DIAGNOSIS GROUP,PROVIDER_CODE,PROVIDER_NAME,SPELLS,OBSERVED,EXPECTED,Date Period,DIAGNOSIS_GROUP_DESCRIPTION,SHMI_VALUE,SHMI_BANDING,PO_LL,PO_UL,OD_LL,OD_UL
0,I00699,1,R1H,BARTS HEALTH NHS TRUST,248,*,9.4433,Apr13-Mar14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I00699,1,RA2,ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST,*,0,0.0267,Apr13-Mar14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I00699,1,RA3,WESTON AREA HEALTH NHS TRUST,*,0,0.04,Apr13-Mar14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I00699,1,RA4,YEOVIL DISTRICT HOSPITAL NHS FOUNDATION TRUST,*,0,0.0102,Apr13-Mar14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,I00699,1,RA7,UNIVERSITY HOSPITALS BRISTOL NHS FOUNDATION TRUST,17,0,0.9597,Apr13-Mar14,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
if not os.path.exists('mortality_hospital/concat_final'):
    os.makedirs('mortality_hospital/concat_final')
    
df_concc.shape

df_concc.to_csv('mortality_hospital/concat_final/hospital_mortality_rate.csv', encoding='utf-8')